@model MVCERP.Web.Models.TaskReportingModel
@{
    ViewBag.Title = "Assigned";
}
@{
    ViewBag.Title = "UserDetail";
    Layout = "~/Views/Shared/MeroTaskMainLayout.cshtml";
}

@*<script src="~/Scripts/jquery-1.8.2.min.js"></script>*@
<!----------------------Report-------------------->

<div class="form-horizontal pt-5">

    @using (Html.BeginForm("Assigned", "TaskReport", FormMethod.Post, new { @id = "taskform" }))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h3 class="text-black">Status Report </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label"> From Date <small class="text-danger">*</small></label>
                    <div class="col-sm-12">
                        @Html.TextBoxFor(x => x.TaskStartDate, new { @placeholder = "TaskStartDate", @class = "form-control", @id = "TaskStartDate", @autocomplete = "off" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label"> To Date <small class="text-danger">*</small></label>
                    <div class="col-sm-12">
                        @Html.TextBoxFor(x => x.TaskEndDate, new { @placeholder = "TaskEndDate", @class = "form-control", @id = "TaskEndDate", @autocomplete = "off" })
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group text-right">
                    <button type="submit" id="btnReport" class="btn btn-success">Generate Report</button>
                </div>
            </div>
        </div>
    }
    </div>

@*<script>
    debugger;
        $("#btnReport").click(function () {
        debugger;
        var reportName = "MISUserRegisterReport";
        var fromDate = $("#TaskStartDate").val();
            var toDate = $("#TaskEndDate").val();
            var taskstatus = $("#Status").val();
        var win = window.open('@MVCERP.Web.Library.StaticData.GetUrlRoot()/MISGenerateReport/GenerateReport?reportName=' + reportName +
            '&FromDate=' + fromDate +
            '&ToDate=' + toDate +
            '&TaskStatus=' + taskstatus
             , '_blank');
        if (win) {
            win.focus();
        } else {
            alert('Please allow popups for this website');
        }
    });
</script>*@
