@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div class="container dashboard-container">

    <div class="row">
        <div class="col-md-4">
            <div class="dashboard-circle">
                <h1 class="circle-title">Agent Count</h1>
                <div id="circle1" class="circle">
                    <span class="circle-count">150</span>
                </div>
                <p><strong>120</strong> New Agent added in Last Week</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dashboard-circle">
                <h1 class="circle-title">Policy Count</h1>
                <div id="circle2" class="circle">
                    <span class="circle-count">250</span>
                </div>
                <p><strong>40%</strong> of Policy increase in Current FY</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dashboard-circle">
                <h1 class="circle-title">Premium Count</h1>
                <div id="circle3" class="circle">
                    <span class="circle-count">206</span>
                </div>
                <p><strong>30%</strong> of Premium added in recent 30 days</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Investment Analysis</h1>
                </div>
                <div class="panel-body">
                    <canvas id="barChart" height="250"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Business Analysis</h1>
                </div>
                <div class="panel-body">
                    <canvas id="pieChart" height="250"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">Target & Achievement</h1>
        </div>
        <div class="panel-body">
            <canvas id="lineChart" height="100"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">Progress Bar</h4>
                </div>
                <div class="panel-body">
                    <div class="dasbhoard-progress">
                        <p><strong class="text-success">10%</strong> New Agent added</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 10%">
                            </div>
                        </div>
                        <p><strong class="text-info">15%</strong> New Branch Expansion</strong></p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" style="width: 15%">
                            </div>
                        </div>
                        <p><strong class="text-warning">5%</strong> Loan Recovered <strong>30 Days</strong></p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" style="width: 5%">
                            </div>
                        </div>
                        <p><strong class="text-danger">20%</strong> Surrender Decreased</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" style="width: 20%">
                            </div>
                        </div>
                        <p><strong class="text-primary">40%</strong> Market Area Covered in <strong>70 Days</strong></p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary" style="width: 40%">
                            </div>
                        </div>
                        <p><strong class="text-default">10%</strong> Lapse Decreased</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-default" style="width: 10%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Schedule Task</h1>
                </div>
                <div class="panel-body">
                    <div class="dashboard-schedule">
                        <div class="schedule-list schedule-list-info">
                            <div class="schedule-date">
                                <i class="mdi mdi-calendar"></i> 22 April, 2017
                            </div>
                            <div class="schedule-content">
                                <h2 class="schedule-title">Meeting with reinsurer</h2>
                                <p class="schedule-text">Meeting Detail </p>
                            </div>
                        </div>
                        <div class="schedule-list schedule-list-danger">
                            <div class="schedule-date">
                                <i class="mdi mdi-calendar"></i> 27 April, 2017
                            </div>
                            <div class="schedule-content">
                                <h2 class="schedule-title">Branch Opening</h2>
                                <p class="schedule-text">New Branch Opening on 27 April, 2017 </p>
                            </div>
                        </div>
                        <div class="schedule-list schedule-list-warning">
                            <div class="schedule-date">
                                <i class="mdi mdi-calendar"></i> 29 April, 2017
                            </div>
                            <div class="schedule-content">
                                <h2 class="schedule-title">Branch Visit</h2>
                                <p class="schedule-text">Branches visited for business promotion. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Agents Activities</h1>
                </div>
                <div class="panel-body">
                    <div class="dashboard-activity">
                        <div class="activity-list">
                            <div class="activity-date">
                                <span class="date-month">APR</span>
                                <span class="date-date">21</span>
                                <span class="date-day">Monday</span>
                            </div>
                            <h2 class="agent-name">Dinesh Chandra<small class="value-code"> OR9842</small></h2>
                            <p class="activity-text">Published Training Campaign</p>
                            <p class="activity-stats"><i class="mdi mdi-account-multiple"></i> <strong>45</strong> Attendance</p>
                        </div>
                        <div class="activity-list">
                            <div class="activity-date">
                                <span class="date-month">APR</span>
                                <span class="date-date">27</span>
                                <span class="date-day">Monday</span>
                            </div>
                            <h2 class="agent-name">Regional Training<small class="value-code"> TR00127</small></h2>
                            <p class="activity-text">Meeting Conducted</p>
                            <p class="activity-stats"><i class="mdi mdi-account-multiple"></i> <strong>100</strong> Participant</p>
                        </div>
                        <div class="activity-list">
                            <div class="activity-date">
                                <span class="date-month">MAY</span>
                                <span class="date-date">5</span>
                                <span class="date-day">Sunday</span>
                            </div>
                            <h2 class="agent-name">Agent Delegation<small class="value-code"> OR6835</small></h2>
                            <p class="activity-text">Dialogue Started</p>
                            <p class="activity-stats"><i class="mdi mdi-account-multiple"></i> <strong>15</strong> Attendance</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Plan History</h1>
                </div>
                <div class="panel-body">
                    <div class="dashboard-plan">
                        <div class="plan-list">
                            <i class="mdi mdi-calendar"></i>
                            <span class="plan-date">April 24th, 2017</span>
                            <h2 class="plan-title">बाल बालिक</h2>
                            <p class="plan-text">Child endosement</p>
                            <p class="plan-range">NRs. 1,000 - NRs. 10,000</p>
                        </div>
                        <div class="plan-list">
                            <i class="mdi mdi-calendar"></i>
                            <span class="plan-date">April 24th, 2017</span>
                            <h2 class="plan-title">बाल बालिक</h2>
                            <p class="plan-text">Child endosement</p>
                            <p class="plan-range">NRs. 1,000 - NRs. 10,000</p>
                        </div>
                        <div class="plan-list">
                            <i class="mdi mdi-calendar"></i>
                            <span class="plan-date">April 24th, 2017</span>
                            <h2 class="plan-title">बाल बालिक</h2>
                            <p class="plan-text">Child endosement</p>
                            <p class="plan-range">NRs. 1,000 - NRs. 10,000</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts
{
    <script src="../../UI/js/Chart.min.js"></script>
    <script src="../../UI/js/circle-progress.min.js"></script>
    <script type="text/javascript">
        var barChart = document.getElementById("barChart");
        var varbarChart = new Chart(barChart, {
            type: 'bar',
            data: {
                labels: ["Govt. Bond", "Fixed-Comm", "Fixed-Dev", "Fixed_Fin", "Share & Deventure", "Other"],
                datasets: [{
                    label: 'Investment',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        '#e03051',
                        '#465C81',
                        '#19CD63',
                        '#FFA949',
                        '#F3554F',
                        '#409FC8'
                    ]
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        var pieChart = document.getElementById("pieChart");
        var varpieChart = new Chart(pieChart, {
            type: 'doughnut',
            data: {
                labels: ["Endowment", "Anticipated", "Whole Life", "Child", "Joint Life", "Term Life"],
                datasets: [{
                    label: 'Business',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        '#e03051',
                        '#465C81',
                        '#19CD63',
                        '#FFA949',
                        '#F3554F',
                        '#409FC8'
                    ]
                }]
            }
        });
        var lineChart = document.getElementById("lineChart");
        var varlineChart = new Chart(lineChart, {
            type: 'line',
            data: {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [{
                    label: "Target",
                    backgroundColor: '#19CD63',
                    borderColor: '#19CD63',
                    data: [12, 19, 3, 5, 2, 3],
                    fill: false,
                }, {
                    label: "Achievement",
                    backgroundColor: '#e03051',
                    borderColor: '#e03051',
                    data: [20, 14, 7, 5, 0, 1],
                    fill: false,
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: true
                    //text: 'Target & Achievement'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Month'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value(In Million)'
                        }
                    }]
                }
            }
        });
        $('#circle1').circleProgress({
            value: 0.50,
            size: 150,
            fill: '#19CD63',
            thickness: 15
        });
        $('#circle2').circleProgress({
            value: 0.40,
            size: 150,
            fill: '#F3554F',
            thickness: 15
        });
        $('#circle3').circleProgress({
            value: 0.30,
            size: 150,
            fill: '#FFA949',
            thickness: 15
        });
    </script>
}