<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DefaultConnection" value="Data Source=103.233.58.39;Initial Catalog=Insurance;uid=sa;password=n3p@lTUC;" />
    <!--SMS API-->
    <add key="apitoken" value="oIzXR4M2UTSO4E6qZhN7" />
    <add key="smsFrom" value="InfoSMS" />
    
    <add key="smsURL" value="http://api.sparrowsms.com/v2/sms/" />
    <add key="smsBulkURL" value="http://api.sparrowsms.com/v2/sms/" />
    
    <!--Email Setup-->
    <add key="mailFrom" value="MVCERP@gmail.com" />
    <add key="mailPwd" value="DARSHANTECH@123" />
    <add key="smtp" value="smtp.gmail.com" />
    <add key="enableSSL" value="true" />
    <add key ="supportEmail" value="kishordahal@hotmail.com" />
    
    <add key="port" value="587" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>