################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/MVCERP.Business/bin
/MVCERP.Business/obj
/MVCERP.MailNotification/bin
/MVCERP.MailNotification/obj
/MVCERP.Repository/bin
/MVCERP.Repository/obj
/MVCERP.Shared/bin
/MVCERP.Shared/obj
/MVCERP.Web/obj
/MVCERP.Web/node_modules
/MVCERP.Web/Web.Release.config
/MVCERP.Web/Web.Debug.config
/MVCERP.Web/package.json
/MVCERP.Web/package-lock.json
/MVCERP.Web/Properties/PublishProfiles
/MVCERP.Web/bin/Release/Publish
