
@{
    ViewBag.Title = "Assign Role";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<script >

    function CheckFunction(group) {
        if ($('.' + group).is(":checked")) {
            $('.' + group).prop('checked', false);
        }
        else
            $('.' + group).prop('checked', true);
    }
    var all = false;
    function CheckAll() {
        if (all) {
            $(":checkbox").prop('checked', false);
            all = false;
        }
        else {
            $(":checkbox").prop('checked', true);
            all = true;
        } 
        
    }

</script>
<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <div class="panel panel-default">
                <div class="panel-heading" onclick="CheckAll();" style="cursor:pointer"><h4 >Manage Role</h4> </div>
                @using (Html.BeginForm("Role", "Role", new { }, FormMethod.Post, new { @class = "form-horizontal", @role = "form", @id = "RoleManage" }))
                {

                    @Html.AntiForgeryToken()

                    @Html.Hidden("RoleId", ViewData["id"])

                    if (!Html.ViewData.ModelState.IsValid)
                    {<div class="form-group ">
                        <div class="col-md-11 alert alert-danger alert-dismissible " role="alert">
                            @Html.ValidationSummary()
                        </div>
                    </div>
                    }
                    <div class="table-responsive" >
                        @( new HtmlString(ViewData["Menu"].ToString()))
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 ">
                            <input type="submit" class="btn btn-primary" value="Update" />
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

