@{
    ViewBag.Title = "404";
    Layout = "~/Views/Shared/MeroTaskMainLayout.cshtml";
}
<div class="col-xs-12">
                <div class="alert alert-danger">
                    <img src="~/Images/unAuthorized.png" alt="Un Authorized" />
                    <span style="font-size:20px;color:red;font-weight:bold">  SORRY  !  YOU ARE NOT AUTHORIZED.....</span>
                </div>
</div>