@model List<MVCERP.Shared.Common.TaskReportingCommon>
@using System.Linq
@using MVCERP.Web.Library
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MeroTaskMainLayout.cshtml";
}

@{
    var statusList = Model.Select(x => x.Status).Distinct().ToList();


    var notAssignedList = Model.Where(x => x.Status == "NotAssigned").ToList();
    var inProgressList = Model.Where(x => x.Status == "InProgress").ToList();
    var completedList = Model.Where(x => x.Status == "Completed").ToList();
    var TestingList = Model.Where(x => x.Status == "Testing").ToList();

}

<style>
    .Mero {
        margin-top: 10rem;
        text-align: center;
        padding-left: 5rem;
    }
    .row {
        background: #f8f9fa;
    }


  .card {
    flex-basis: 100%;
  }
    .card-body{
        padding :unset
    }
    .card-header {
        background: #0000000a;
        border-color: none;
        padding: 0.5rem 0.875rem 0.25rem;
    }
    .card-title {
        font-size: 15px;
    }
}

</style>
<body>
    <div class="row">
            <div class="col-md-3">
                <b class="Mero"> NotAssigned</b>
                
                    @foreach (var notAssigned in notAssignedList)
                    {
                    <div class="flex-column pb-3" style="border: 1px solid #ff00003b; border-radius: 10px;margin-bottom: 20px;">
                <div class="card-header">
                    <h5 class="card-title">TaskName:@notAssigned.TaskName</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">TaskDesc:@notAssigned.TaskDescription</p>
                    <p class="card-text">Task Start Date:@StaticData.DBToFrontDate(notAssigned.TaskStartDate)</p>
                    <p class="card-text">Task End Date:@StaticData.DBToFrontDate(notAssigned.TaskEndDate)</p>
                </div>
                <div class="input-group" style="margin-left: 20px">
                    <select class="TaskClass" style=" width: 100px;height:2.5rem" id="TaskClass_@notAssigned.TaskId" onchange="SelectChange('TaskClass_@notAssigned.TaskId')">
                        <option selected>Choose...</option>
                        <option value="InProgress">InProgress</option>
                        <option value="Testing">Testing</option>
                        <option value="Completed">Completed</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-primary changeTask" type="button" id="@notAssigned.TaskId" style="height :2.5rem;">Submit</button>
                    </div>
                </div>
            </div>
                }
                
            </div>
            <div class="col-md-3">
                <b class="Mero">InProgress</b>
                @foreach (var inProgress in inProgressList)
                {
            <div class="flex-column pb-3" style="border: 1px solid #00ecff69; border-radius: 10px; margin-bottom:20px">
                <div class="card-header">
                    <h5 class="card-title">TaskName:@inProgress.TaskName</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">TaskDesc:@inProgress.TaskDescription</p>
                    <p class="card-text">Task Start Date:@StaticData.DBToFrontDate(inProgress.TaskStartDate)</p>
                    <p class="card-text">Task End Date:@StaticData.DBToFrontDate(inProgress.TaskEndDate)</p>
                </div>
                <div class="input-group" style="margin-left: 20px">
                    <select class="TaskClass" style=" width: 100px;height:2.5rem" id="TaskClass_@inProgress.TaskId" onchange="SelectChange('TaskClass_@inProgress.TaskId')">
                        <option selected>Choose...</option>
                        <option value="Testing">Testing</option>
                        <option value="Completed">Completed</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-primary changeTask" type="button" id="@inProgress.TaskId" style="height:2.5rem;">Submit</button>
                    </div>
                </div>
            </div>
                }
            </div>
            <div class="col-md-3">
                <b class="Mero">Testing</b>
                @foreach (var testing in TestingList)
                {
                    <div class="flex-column pb-3"  style="border: 1px solid #fff2007d; border-radius: 10px; margin-bottom: 20px;">
                       
                            <div class="card-header">
                                <h6 class="card-title">TaskName:@testing.TaskName</h6>
                            </div>
                            <div class="card-body">
                                <p class="card-text">TaskDesc:@testing.TaskDescription</p>
                                <p class="card-text">Task Start Date:@StaticData.DBToFrontDate(testing.TaskStartDate)</p>
                                <p class="card-text">Task End Date:@StaticData.DBToFrontDate(testing.TaskEndDate)</p>

                            </div>
                            <div class="input-group" style="margin-left: 20px">
                                <select class="TaskClass" style=" width: 100px; height:2.5rem" id="TaskClass_@testing.TaskId" onchange="SelectChange('TaskClass_@testing.TaskId')">
                                    <option selected>Choose...</option>
                                    <option value="Completed">Completed</option>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-primary changeTask" type="button" id="@testing.TaskId" style="height:2.5rem;">Submit</button>
                                </div>
                            </div>
                        </div>
                 
                }
            </div>

            <div class="col-md-3">
                <b class="Mero">Completed</b>
                @foreach (var completed in completedList)
                {
                <div class="flex-column pb-3"  style="border: 1px solid #00ff0378; border-radius: 10px; margin-bottom:20px">
                   
                        <div class="card-header">
                            <h5 class="card-title">TaskName:@completed.TaskName</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">TaskDesc:@completed.TaskDescription</p>
                            <p class="card-text">Task Start Date:@StaticData.DBToFrontDate(completed.TaskStartDate)</p>
                            <p class="card-text">Task End Date:@StaticData.DBToFrontDate(completed.TaskEndDate)</p>
                        </div>
                    </div>
              
                }
            </div>
        </div>
</body>


<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript">
    var task = "";

    function SelectChange(id) {

        task = $("#" + id + "").val();

    }
    $(".changeTask").on("click", function (e) {
        e.preventDefault();
        var id = $(this).attr("id");

        $.ajax({
            type: "POST",
            datatype: "JSON",
            url: '/TaskReporting/ChangeTask',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ id: id, task: task }),
            success: function (data) {
                location.reload();
            },
            error: function () {

            }

        });
    });

</script>