@model List<MVCERP.Shared.Common.TaskReportingCommon>
@using System.Linq
@using MVCERP.Web.Library
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MeroTaskMainLayout.cshtml";
}

@{
    var statusList = Model.Select(x => x.Status).Distinct().ToList();


    var notAssignedList = Model.Where(x => x.Status == "NotAssigned").ToList();
    var inProgressList = Model.Where(x => x.Status == "InProgress").ToList();
    var completedList = Model.Where(x => x.Status == "Completed").ToList();
    var TestingList = Model.Where(x => x.Status == "Testing").ToList();

}

<style>
    .table tbody tr td {
        vertical-align: initial !important;
        border-color: #f0f1f5;
    }
</style>
<table class="table">
    <thead>
        <tr>
            <th scope="col">NotAssigned</th>
            <th scope="col">InProgress</th>
            <th scope="col">Testing</th>
            <th scope="col">Completed</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>

                @foreach (var notAssigned in notAssignedList)
                {
                    <table>
                        <tr>
                            <td>
                               
                                    <div class="card mb-2">
                                        <div class="card-header">
                                            <h5 class="card-title">TaskName:@notAssigned.TaskName</h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Desc:@notAssigned.TaskDescription</p>
                                            <p class="card-text"><h5>Task Start Date:@StaticData.DBToFrontDate(notAssigned.TaskStartDate)</h5><h5>Task End Date:@StaticData.DBToFrontDate(notAssigned.TaskEndDate)</h5></p>
                                        </div>
                                        <div class="input-group">
                                            <select class="TaskClass" style=" width: 150px" id= "TaskClass_@notAssigned.TaskId" onchange="SelectChange('TaskClass_@notAssigned.TaskId')">
                                                <option selected>Choose...</option>
                                                <option value="InProgress">InProgress</option>
                                                <option value="Testing">Testing</option>
                                                <option value="Completed">Completed</option>
                                            </select>
                                            <div class="input-group-append">
                                                <button class="btn btn-primary changeTask" type="button" id="@notAssigned.TaskId">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                               
                            </td>
                        </tr>
                    </table>
                }

            </td>
            <td>
                @foreach (var inProgress in inProgressList)
                {
                    <table>
                        <tr>
                            <td>
                                <div class="card mb-2">
                                    <div class="card-header">
                                        <h5 class="card-title">TaskName:@inProgress.TaskName</h5>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Desc:@inProgress.TaskDescription</p>
                                        <p class="card-text"><h5>Task Start Date:@StaticData.DBToFrontDate(inProgress.TaskStartDate)</h5><h5>Task End Date:@StaticData.DBToFrontDate(inProgress.TaskEndDate)</h5></p>
                                    </div>
                                    <div class="input-group">
                                        <select class="TaskClass" style=" width: 150px;" id= "TaskClass_@inProgress.TaskId" onchange="SelectChange('TaskClass_@inProgress.TaskId')">
                                            <option selected>Choose...</option>
                                            <option value="Testing">Testing</option>
                                            <option value="Completed">Completed</option>
                                        </select>
                                        <div class="input-group-append">
                                            <button class="btn btn-primary changeTask" type="button" id="@inProgress.TaskId">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                }

            </td>
            <td>
                @foreach (var testing in TestingList)
                {
                    <table>
                        <tr>
                            <td>
                                <div class="card mb-2">
                                    <div class="card-header">
                                        <h5 class="card-title">TaskName:@testing.TaskName</h5>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Desc:@testing.TaskDescription</p>
                                        <p class="card-text"><h5>Task Start Date:@StaticData.DBToFrontDate(testing.TaskStartDate)</h5><h5>Task End Date:@StaticData.DBToFrontDate(testing.TaskEndDate)</h5></p>
                                    </div>
                                    <div class="input-group">
                                        <select class="TaskClass" style=" width: 150px;"id= "TaskClass_@testing.TaskId" onchange="SelectChange('TaskClass_@testing.TaskId')">
                                            <option selected>Choose...</option>
                                            <option value="Completed">Completed</option>
                                        </select>
                                        <div class="input-group-append">
                                            <button class="btn btn-primary changeTask" type="button" id="@testing.TaskId">Submit</button>
                                        </div>
                                    </div>
                                </div>
                                
                            </td>
                        </tr>
                    </table>

                }

            </td>
            <td>

                @foreach (var completed in completedList)
                {
                    <table>

                        <tr>
                            <td>

                                <div class="card mb-2">
                                    <div class="card-header">
                                        <h5 class="card-title">TaskName:@completed.TaskName</h5>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">Desc:@completed.TaskDescription</p>
                                        <p class="card-text"><h5>Task Start Date:@StaticData.DBToFrontDate(completed.TaskStartDate)</h5><h5>Task End Date:@StaticData.DBToFrontDate(completed.TaskEndDate)</h5></p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                }

            </td>

        </tr>
    </tbody>
</table>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript">
    var task = "";

    function SelectChange(id) {
      
        task = $("#" + id + "").val();
     
    }
    $(".changeTask").on("click", function (e) {
        e.preventDefault();
        var id = $(this).attr("id");
        
        $.ajax({
            type: "POST",
            datatype: "JSON",
            url: '/TaskReporting/ChangeTask',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ id: id, task: task }),
            success: function (data) {
                location.reload();
            },
            error: function () {
              
            }

        });
    });
  
</script>