@model List<MVCERP.Shared.Common.TaskReportingCommon>
@using System.Linq
@using MVCERP.Web.Library
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MeroTaskMainLayout.cshtml";
}

@{
    var statusList = Model.Select(x => x.Status).Distinct().ToList();

    var notAssignedList = Model.Where(x => x.Status == "NULL").ToList();
    var inProgressList = Model.Where(x => x.Status == "active").ToList();
    var completedList = Model.Where(x => x.Status == "Completed").ToList();
    var TestingList = Model.Where(x => x.Status == "Testing").ToList();
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">NotAssigned</th>
            <th scope="col">AssignedInProgress</th>
            <th scope="col">Completed</th>
            <th scope="col">Testing</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <table>

                    @foreach (var notAssigned in notAssignedList)
                    {
                        <tr>
                            <td>
                                <div class="card border-danger mb-3" style="max-width: 25rem;">
                                    <div class="card-header"><strong>Task Name:@notAssigned.TaskName</strong></div>
                                    <div class="card-body">
                                        <p class="card-text">Desp:@notAssigned.TaskName</p>
                                        <p class="card-text"><h5>Task Start Date:@StaticData.DBToFrontDate(notAssigned.TaskStartDate)</h5><h5>Task End Date:@StaticData.DBToFrontDate(notAssigned.TaskEndDate)</h5></p>
                                    </div>
                                    <div class="input-group">
                                        <select class="">
                                            <option selected>Choose...</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">Button</button>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    }

                </table>
            </td>

            <td>
                <table>

                    @foreach (var inProgress in inProgressList)
                    {
                        <tr>
                            <td>
                                <div class="card border-info  mb-3" style="max-width: 25rem;">
                                    <div class="card-header"><strong>Task Name:@inProgress.TaskName</strong></div>
                                    <div class="card-body ">
                                        <p class="card-text">Task Name:@inProgress.TaskName</p>
                                        <p class="card-text"><h5>Task Start Date:@StaticData.DBToFrontDate(inProgress.TaskStartDate)</h5><h5>Task End Date:@StaticData.DBToFrontDate(inProgress.TaskEndDate)</h5></p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }

                </table>
            </td>
            <td>
                <table>

                    @foreach (var completed in completedList)
                    {
                        <tr>
                            <td>
                                <div class="card border-success mb-3" style="max-width: 25rem;">
                                    <div class="card-header"><strong>Task Name:@completed.TaskName</strong></div>
                                    <div class="card-body">
                                        <p class="card-text">Task Name:@completed.TaskName</p>
                                        <p class="card-text"><h5>Task Start Date:@StaticData.DBToFrontDate(completed.TaskStartDate)</h5><h5>Task End Date:@StaticData.DBToFrontDate(completed.TaskEndDate)</h5></p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }

                </table>
            </td>
            <td>
                <table>

                    @foreach (var testing in TestingList)
                    {
                        <tr>
                            <td>
                                <div class="card border-warning mb-3" style="max-width: 25rem;">
                                    <div class="card-header"><strong>Task Name:@testing.TaskName</strong></div>
                                    <div class="card-body ">
                                        <p class="card-text">Task Name:@testing.TaskName</p>
                                        <p class="card-text"><h5>Task Started Date:@StaticData.DBToFrontDate(testing.TaskStartDate)</h5><h5>Task Ended Date:@StaticData.DBToFrontDate(testing.TaskEndDate)</h5></p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }

                </table>
            </td>
    </tbody>
</table>
<script src="~/UI/Bootstrapv.4/bootstrap-select.min.js"></script>