@model MVCERP.Shared.Common.TaskReportingCommon
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MeroTaskMainLayout.cshtml";
}

<h2>List of All Task</h2>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
@section scripts{

    @*<script src="~/UI/MeroTaskDashboard/vendor/jquery/jquery.min.js"></script>*@

    <script src="~/UI/MeroTaskDashboard/vendor/datatables/js/jquery.dataTables.min.js"></script>

}


<script type="text/javascript">
    $(document).ready(function () {
        $('#AllTaskList').DataTable({
            "responsive": true,
            "processing": false,
            "serverSide": false,
            "searchDelay": 1500,
            "ajax": {
                "type": 'z',
                "dataType": 'json',
                "url": "/TaskReporting/GetAllTask",
                "contentType": 'application/json; charset=utf-8',
                'data': function (data) {
                    return data = JSON.stringify(data);
                }
            },
            lengthMenu:
                [
                    [25, 50, 100],
                    ['25', '50', '100']
                ],
            "language": {
                "search": "",
                "searchPlaceholder": "Search..."
            },
            columns: [

               
                { 'data': 'TaskName', "orderable": true, "searchable": true },
                { 'data': 'TaskStartDate', "orderable": true },
                { 'data': 'TaskEndDate', "orderable": true },
                { 'data': 'TaskDescription', "orderable": true },
                { 'data': 'IsActive', "orderable": true },
                { 'data': 'Status', "orderable": true },
                { 'data': 'CreatedBy', "orderable": false },
                { 'data': 'CreatedDate', "orderable": false },
                { 'data': 'Action', "orderable": false },

            ],
            "columnDefs":
                [
                    { "className": "dt-center", "targets": "4" },
                    //  { "targets": 1, "className": "text-right" }
                ]
        });
    });

</script>

<div class="container listing-container">
    <div class="panel panel-default">
        <div class="panel-heading list-heading">
            <div class="panel-body list-body">
                <div class="table-responsive">

                    <table id="AllTaskList" class="table table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>

                           
                                <th>TaskName</th>
                                <th>TaskStartDate</th>
                                <th>TaskEndDate</th>
                                <th>TaskDescription</th>
                                <th>IsActive</th>
                                <th>Status</th>
                                <th>CreatedBy</th>
                                <th>CreatedDate</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>